<div class="item <%= "active" if index == 0 %>">
  <%= product_avatar product %>
  <div class="carousel-caption">
    <h4><%= product.name %></h4>
    <h6><%= format_price product.price %></h6>
  </div>
</div>
