<div class="modal fade" id="admin_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="notice-form"></div>
        <div id="admin-modal-content"></div>
      </div>
    </div>
  </div>
</div>
