<div class="product-widget">
  <div class="product-img">
    <%= product_avatar item %>
  </div>
  <div class="product-body">
    <h3 class="product-name"><%= link_to item.name, item %></h3>
  </div>
</div>
