.carousel-inner > .item {
  cursor: pointer;
  height: 50vh;
  > img {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 35%;
    max-height: 350px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
  > .carousel-caption{
    left: auto;
    max-width: 300px;
    padding:50px;
    right: 25%;
    text-align: right;
    top: 5%;
  }
}

.carousel-control {
  &.left, &.right {
    background-image: none;
  }
}
