.carousel-inner > .item {
  height: 50vh;
  > img {
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
  }
  > .carousel-caption{
    left: auto;
    max-width: 300px;
    padding:50px;
    right: 20%;
    text-align: right;
    top: 5%;
  }
}

.carousel-control {
  &.left, &.right {
    background-image: none;
  }
}
